/* header */
.wrapper{
  margin: auto;
}

.wrapper{
  height:500px;
 
 
}

.nav-area{
  float:right;
  list-style: none;
  margin-top:20px;

}

.nav-area li{
  display:inline-block;
}
.nav-area li a{
  color: rgb(6, 6, 6);
  text-decoration: none;
  padding: 5px 20px;
  font-family:'Times New Roman',
  Times,
  serif;
  font-size:16px;
}

.nav-area li a:hover{
  background: #fff;
  color:#333;

}

.logo img{
  width: 100px;
  float:left;
  height: auto;
    margin-right: 1.25em;
    margin-bottom: 2em;
 

}
/* section */
.animation{
  display: flex;
  align-items: center;
  margin-bottom:100px;
   flex-direction: column;

}

@keyframes poppika {
  0% {
    transform: translate(-50%, -50%) scale(1.25, 0.75);
  }

  50% {
    transform: translate(-50%, -150%) scale(1, 1);
  }

  55% {
    transform: translate(-50%, -150%) rotate(15deg);
  }

  60% {
    transform: translate(-50%, -150%) rotate(-15deg);
  }

  65% {
    transform: translate(-50%, -150%) rotate(15deg);
  }

  70% {
    transform: translate(-50%, -150%) rotate(-15deg);
  }

  100% {
    transform: translate(-50%, -50%) scale(1.25, 0.75);
  }
}
#image{
  animation: popcoeur 1.2s infinite;
  top: 50%;
    left: 50%;
    

}
@keyframes popcoeur {
  0% {
    transform: translate(-50%, -120%) ;
  }

  50% {
    transform: translate(-50%, -170%) ;
  }

  55% {
    transform: translate(-50%, -170%) ;
  }
  60% {
    transform: translate(-50%, -170%) ;
  }

  65% {
    transform: translate(-50%, -170%) ;
  }

  70% {
    transform: translate(-50%, -170%);
  }

  100% {
    transform: translate(-50%, -120%) ;
  }
}

#pika {
  
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/

  animation: poppika 1.2s infinite;
}


/* footer */
footer{
 font-family:'Times New Roman', Times, serif;
 margin:0;
 font-size: 14px;
 padding: 50px;
 color: #fff;
 background-color: rgb(110, 108, 108);
}

.footer {
display: flex;
justify-content: space-around;

}

.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer-left img{
  width: 100%;
  height: 40%;
  margin-top: 10px;

}
h2{
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
footer ul{
  list-style: none;
  padding-left:0;
  color:#fff;
}
.footer li{
  line-height: 2em;
}
.footer a{
  text-decoration: none;
}

.footer-right{
 
  display:flex;
  flex-direction: row;
  justify-content:space-between;

}

.footer-right > *{
  flex: 1 50%;
  margin-right: 15em;
}

.box a{
  color: #999;
}
.footer-bottom{
  color: #999;
  text-align: center;
  padding-top: 50px;
}
.socials a{
  background: #f9fafa;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 25px;
  
}
.socials a i{
  color:rgb(110, 108, 108);
  padding: 10px 12px;
  font-size: 20px;
}

.pokedex {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	padding-top: 5rem;
	padding-bottom: 10rem;
}

.pokedexElem {
	padding: 2rem;
	margin: 2rem;
	text-align: center;
	box-shadow: 10px 5px 0px #D5CB3F;
	border: 1px solid #D5CB3F;
}

.pokemonInfos {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.number {
	display: flex;
	align-items: center;
}
.numbertitle{
	font-weight: bold;
	font-size: 2rem;
}
.numberStyle {
	font-weight: bold;
	font-size: 3rem;
	color: #D5CB3F;
}
.pv {
	display: flex;
	font-size: 2rem;
}
.type {
	display: flex;
	font-size: 1.5rem;
}
