<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" th:href="@{/css/accueil.css}"/>
    
    <title>Accueil</title>
 </head>

  <body>
    <!-- header start -->
    
      <header >
      <div class="wrapper">
        <div class="logo">
            <img src="" th:src="@{/image/pokemonLogoBW 1.png}" alt="" />
        </div>
          <ul class="nav-area">
             <li><a href="/accueil">Home</a></li>
              <li><a href="/pokedex">Pokedex</a></li>
              <li><a href="#">Complete Pokedex</a></li>
              <li><a href="#">Log in</a></li>
          </ul>
      </div>
    
    </header>
    <!-- header end -->
    

    <section class="animation">
       <div class="coeur">
         <img  id="image" src="" th:src="@{/image/heart 1.png}" alt="" />
            </div>

              <div class="pikatchou">
           <img onclick="show_hide()" src="" th:src="@{/image/25 1.png}"  id="pika" alt="" />
            </div>
    </section>
    

    
     
      <footer class="footer">
        <div class="footer-left">
          <img src="" th:src="@{/image/pokemonLogoBW 1.png}" alt="" />
            <div class="socials">
	            <a href="#" ><i class="fa fa-linkedin"></i>
	            <a href="#" ><i class="fa fa-facebook"></i>
	            <a href="#" ><i class="fa fa-twitter"></i>
	            <a href="#" ><i class="fa fa-envelope"></i>
         </div>
    </div>

      <ul class="footer-right">
        <li>
         <h2> A Propos</h2>
         
       <!--liste element footer-->
          <ul class="box">
            <li>A propos d'Amazon</li>
            <li>Carrieres</li>
            <li>durabilité</li>
            <li>amazon Science</li>
          </ul>
        </li>
         
        <li>
          <h2>Ressources</h2>

          <!--liste element footer-->
          <ul class="box">
            <li>A propos d'Amazon</li>
            <li>Carrieres</li>
            <li>durabilité</li>
            <li>amazon Science</li>
          </ul>
       </li>
    <li>
          <h2>General</h2>
          <ul class="box">
            <li>A propos d'Amazon</li>
            <li>Carrieres</li>
            <li>durabilité</li>
            <li>amazon Science</li>
          </ul>
        </li>
     </ul>
    </footer>
    <script src="" th:src="@{js/accueil.js}"></script>
  </body>
</html>
  